{% extends 'base.html' %}

{% block title %}
  HOME
{% endblock %}


{% block content %}
    <a href="/home/">首页</a>
    <a href="/cart/">购物车</a>

    <div class="row">

        <div class="card" style="width: 50rem;">
            <p class="picture">{{good.picture}} picture</p>

            <div class="card-body">
                <h5 class="card-title">{{ good.name }}</h5>
                <p class="card-text">￥{{ good.price }}</p>
                <p>库存：{{good.count}}</p>


                <p>商品介绍：{{good.detail}}</p>
                <a href="/cart/addgoods/?good_name={{good.name}}" class="btn btn-primary">加入购物车</a>
                <a href="/order/">立即购买</a>
            </div>
        </div>

    </div>
{% endblock %}
